<<<<<<< Updated upstream
=======
:root {
  --yellow: #ffefb6;
  --white: #ffffff;
  --green: hwb(165 6% 66%);
  --black: #000000;
  --gray: #999999;
  --card-bg: #0B4537;
  --card-border: #093B2F;
  --shadow: rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Lexend";
  src: url("/fonts/LexendZetta-VariableFont_wght.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.ttf");
  font-display: swap;
}

>>>>>>> Stashed changes
body {
  margin: 0;
  padding: 0;
  font-family: 'Lexend Zetta', sans-serif;
  font-weight: 100;
  color: #ffffff;
  background-color: #105545;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  text-align: center;
  padding: 0 10px;
}

<<<<<<< Updated upstream
img {
  max-width: 100%;
  height: auto;
}

.nav {
  background: #000;
  height: 80px;
  width: 100%;
=======
nav {
  padding: 0.5rem 0;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--black);
  font-size: 1.05rem;
  font-weight: 200;
  letter-spacing: 1px;
}

nav > p {
  padding: 0 1rem;
}

nav a {
  text-decoration: none;
}

main {
  margin: auto;
  margin-bottom: 50px;
  max-width: 80vw;
  width: 1000px;
  padding: 2rem 0;
}

h2 {
  letter-spacing: 4px;
  font-weight: 200;
}

hr {
  border: 1px solid var(--gray);
  margin: 1.5rem auto;
}

.nav-icon {
  max-height: 50px;
  margin-left: auto;
  padding: 0 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo-container {
  max-width: 75vw;
  width: 775px;
  margin: auto;
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
}

.logo-icon {
  width: 25vw;
  max-width: 250px;
}

.logo-text {
  color: var(--yellow);
  font-family: "Lexend", sans-serif;
  font-size: 1.75rem;
}

.btn-link {
  display: block;
  margin: auto;
  margin-top: 1vh;
  padding: 1rem 2rem;
  background: var(--black);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 200;
  border-radius: 10px;
  width: 50%;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.card {
  backdrop-filter: blur(5px);
  background: var(--card-bg);
  padding: 1rem 2rem;
  color: var(--white);
  border: black;
  border: 2px solid var(--card-border);
  border-radius: 7px;
  text-decoration: none;
  font-weight: 100;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transform-origin: center;
}

.card:visited {
  color: var(--white);
}

.card:hover {
background-color: #093B2F;
transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.3s ease-in-out, background 0.6s ease; /* Adjust the duration for the background transition */
transform-origin: center;
}



.card > img {
  width: 30%;
  color: var(--yellow);
  max-width: 150px;
  filter: brightness(1.2);
  image-rendering: crisp-edges;
}

.cta {
  font-size: 1.75rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
}

.card-sep {
  width: 20%;
  border: 2px solid var(--yellow);
}

.card-text {
  font-weight: 200;
  letter-spacing: .1rem;
  word-spacing: 0;
  line-height: 2rem;
}

footer {
  height: 50px;
  position: fixed;
  width: 100%;
  top: calc(100vh - 50px);
  display: flex;
  justify-content: left;
  padding-left: 2rem;
  background: var(--black);
  color: var(--yellow);
>>>>>>> Stashed changes
}

.nav ul {
  height: 80px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav ul li {
  color: #FFEFB6;
  display: inline-block;
  height: 80px;
  line-height: 80px;
  list-style: none;
  padding: 0 10px;
  transition: background .5s;
}

.btn:hover,
.nav ul li:hover {
  background: #333333;
  cursor: pointer;
  transition: background .5s;
}

.header {
  background-color: #105545;
  background-size: cover;
  text-align: center;
  position: relative;
}

.header h1 {
  color: #ffffff;
  line-height: 100px;
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 80px;
}

.header img {
  max-width: 80%;
  height: auto;
}

@media (min-width: 850px) {
  .header h1 {
    font-size: 120px;
  }
}

.header p {
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 8px;
  margin-bottom: 40px;
  margin-top: 0;
}

.header .container {
  margin-top: 100px;
}

.btn {
  color: #FFEFB6;
  background: #000;
  padding: 10px 40px;
  text-decoration: none;
  transition: background .5s;
}

.main .container {
  margin: 80px auto;
}

.main img {
  float: left;
  margin: 50px 80px 50px 0;
}

.text-container {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  border-radius: 2px;
  text-align: center;
  max-width: 50%;
  margin: 20px auto; 
}

.text-container p {
  color: #ffffff;
  font-weight: 220;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.text-container .btn {
  color: #FFEFB6;
  background: #000;
  padding: 20px 40px;
  font-weight: 400;
  letter-spacing: 5px;
  text-decoration: none;
  transition: background .8s;
  border-radius: 5px;
}

.text-container .btn:hover {
  background: #157a63;
  cursor: pointer;
  transition: background .8s;
}

.footer {
  position: fixed;
  bottom: 0;
  background: #000;
  height: 80px;
  width: 100%;
}

.footer p {
  color: #FFEFB6;
  font-size: 14px;
  height: 80px;
  line-height: 80px;
  text-align: left;
  margin: 0;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.footer ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer a {
  text-decoration: none;
  color: #FFEFB6;
  font-size: 14px;
  line-height: 80px;
}

.footer a:hover {
  color: #ffffff;
}

@media (max-width: 500px) {
  .header h1 {
    font-size: 50px;
    line-height: 64px;
  }

  .main img {
    width: 100%;
  }

  .text-container .btn {
    padding: 15px 30px; 
  }
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #FFEFB6;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,700&display=swap');

.divider {
  border-top: 1px solid #ffffff;
  width: 80%;
  margin: 20px auto;
}

@media (max-width: 500px) {
  .text-container .btn {
    padding: 10px 20px;
    font-size: 14px;
  }
}
