body {
  margin: 0;
  padding: 0;
  font-family: 'Lexend Zetta', sans-serif;
  font-weight: 100;
  color: #ffffff;
  position: relative;
  background-color: #105545 
}

.container {
  margin: 0 auto;
  max-width: 100%; 
  height: auto;
  text-align: center;
  padding: 0 10px;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  background-color: #105545;
  background-size: cover;
  text-align: center; 
}

.header h1 {
  color: #ffffff;
  line-height: 100px; 
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 80px;
  }

@media (min-width:850px) {
  .header h1 {
    font-size: 120px;
  }
}

.header p {
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 8px;
  margin-bottom: 40px;
  margin-top: 0;
  }

.btn {
  color: #FFEFB6;
  background: #000;
  padding: 10px 40px;
  text-decoration: none; 
  transition: background .5s; 
}

.nav { 
  background: #000;
  height: 80px; 
  width: 100%;
}

.nav ul {
  height: 80px;
  list-style: none;
  margin: 0 auto; 
  padding: 0;
}

.nav ul li {
  color: #FFEFB6;
  display: inline-block; 
  height: 80px;
  line-height: 80px; 
  list-style: none;
  padding: 0 10px;
  transition: background .5s; 
}

.btn:hover, .nav ul li:hover {
  background: #333333;
  cursor: pointer; 
  transition: background .5s;  
}

.main .container {
  margin: 80px auto;
}

.main img {
  float: left;
  margin: 50px 80px 50px 0;
}

.footer { 
  position: fixed;
  bottom: 0;
  background: #000;
  height: 80px; 
}

.footer p { 
  color: #FFEFB6;
  font-size: 14px;  
  height: 80px; 
  line-height: 80px;
  text-align: left;
  margin: 0;  
}

@media (max-width: 500px) {
  .header h1 {
    font-size: 50px;
    line-height: 64px;
  }

  .main img {
    width: 100%;
  }
}

a:link {
    text-decoration: none;
    color:#FFEFB6;
  }
  
  a:visited {
    text-decoration: none;
    color:#FFEFB6;
  }
  
  a:hover {
    text-decoration: none;
    color:#FFEFB6;
  }
  
  a:active {
    text-decoration: none;
    color:#FFEFB6;
  }
   
  body {
    color: #FFEFB6;
  }